.App {
  text-align: center;
  display: block;
}

.board{

  margin: auto;
  height: 50rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(10, 5rem);
  grid-template-rows: repeat(10, 5rem);
  background-color: gray;
}

.cell{

  height: 5.3rem;
  width: 5.3rem;
  
}

button{

  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(163, 217, 163);
  font-size: 1rem;
  font-weight: 600;

}


img{

  max-width: 5rem;
  max-height: 5rem;
}
